---
layout: default
---
<div class="container">
    <div class="row">
<div class="article col-sm-8 col-sm-push-2">

    <a name="accueil"></a>
  <h2 class="page-heading">Introduction</h2>

{% markdown %}

Ce site reproduit la liste des députés signataires de la motion de censure de gauche contre le gouvernement, en réponse au 49-3 utilisé pour passer en force [la loi-travail](http://loitravail.lol/).

La motion de gauche n'a jamais vu le jour, faute de suffisamment de signataires. 

La plupart de ces députés ont ensuite réfusé de voter la motion de droite, strictement identique dans ses effets (dissolution du gouvernement et blocage de la loi travail), pour ne pas "méler leurs votes à ceux de la droite" et pour un désaccord avec le texte l'accompagnant, n'ayant aucune valeur légale.

Nous publions une lettre ouverte nominative pour chacun de ces députés, les exhortant à voter les prochaines motions de censures, qu'elles soient déposées par la droite ou par la gauche.

Ce site est un relais à une [pétition ayant recueilli plus de 300.000 signatures](https://www.change.org/p/d%C3%A9put%C3%A9s-socialistes-soutenez-la-motion-de-censure-pour-que-la-loitravail-ne-voit-pas-le-jour), et un [appel vidéo de Osons Causer](https://www.youtube.com/watch?v=NBcwvU2QHWg), vu plus de 5 millions de fois et partagé plus de 200.000 fois [sur Facebook](https://www.facebook.com/osonscauser/videos/1073548676050486/), ceci en moins de 48h.

Nous considérons la loi travail comme une régression inacceptable du droit du travail, et comme l'ultime trahison d'un executif qui n'a eu de cesse de renier ses engagements de campagne, et de servir les intérêts d'une caste, au détriment du bien commun. 

Nous considérons le non-vote de censure par les députés comme une complicité active de cette trahison, un viol de la souverineté populaire, et un manquement caractérisé à leur devoir de représentation.

{% endmarkdown %}

  <a name="video"></a>
  <h2 class="page-heading">L'appel en vidéo</h2>

  <iframe width="640"
          height="360"
          src="https://www.youtube.com/embed/NBcwvU2QHWg"
          frameborder="0"
          allowfullscreen></iframe>

    <a name="lettres"></a>
  <h2 class="page-heading">Lettres ouvertes</h2>

    <ul class="list">
      {% for depute in site.data.deputes %}
        <li class="list__item">
          <a class="post-link" href="/deputes/{{ depute.id }}.html">
              <span class="post-link__name left">Lettre ouverte à {{ depute.nom }} ({{ depute.parti }})</span>
          </a>


          <a class="post-link" href="/deputes/{{ depute.id }}.html">
            {% if depute['censure-1'] == "1" %}
              <span class="label label-success right"><span class="glyphicon glyphicon-ok"></span><b>Voté</b></span>
            {% else %}
              <span class="label label-warning right"><span class="glyphicon glyphicon-remove"></span><b>Non voté</b></span>
            {% endif %}
          </a>

            {%if site.data.reponses[depute.id] %}
            <a class="post-link" href="/deputes/{{ depute.id }}.html#reponse">
              <span class="label label-info right"><span class="glyphicon glyphicon-envelope"></span><b>Réponse</b></span>
            </a>
          {% endif %}
        </li>
      {% endfor %}
   </ul>

<h2 class="page-heading">Commentaires</h2>

  {% include disqus.html id="accueil" %}

</div>
</div>
</div>