    
    <div class="blog-masthead">

    <div id="entete">
      
      <h1 class="titre"><a href="/">#On&#8203;Sen&#8203;Souviendra</a></h1>
      <h2 class="sous-titre">Lettres ouvertes aux députés</h2>
      <h2 class="sous-titre">Pense bête populaire</h2>
    </div>

      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Accueil</a>
          <a class="blog-nav-item" href="/#lettres">Lettres ouvertes</a>
          <a class="blog-nav-item" href="/#video">Appel vidéo</a>
          <a class="blog-nav-item" href="https://www.change.org/p/d%C3%A9put%C3%A9s-socialistes-soutenez-la-motion-de-censure-pour-que-la-loitravail-ne-voit-pas-le-jour">Pétition</a>
        </nav>
      </div>

    </div>
