---
layout: default
---


{% if page.genre == "M" %}
{% assign prefixe = "monsieur " %}
{% assign pref = "Mr " %}
{% assign hommeFemme = "un homme " %}
{% else %}
{% assign prefixe = "madame " %}
{% assign pref = "Mme " %}
{% assign hommeFemme = "une femme " %}
{% endif %}
<div class="container">
<div class="row">
    <h1 class="post-title col-sm-12">Lettre ouverte à {{ prefixe }}{{ page.nom }}</h1>
	<div class="article col-xs-12 col-sm-8 col-md-8">


    	{% markdown %}
    		{%include lettre.md %}
		{% endmarkdown %}

<h1>Réponse</h1>

{{ page.nom }} n'a pas encore apporté de réponse à cette lettre ouverte.


	</div>
	<div class="blog-sidebar col-xs-12 col-sm-4 col-md-4">

		<div class="fiche sidebar-module sidebar-module-inset">
			<h3>{{ pref }}{{ page.nom }}</h3>
			<img src="img/{{ page.id }}.jpg">
			<dl>
				<dt>Parti</dt><dd>{{ page.parti }}</dd>
				<dt>Groupe</dt><dd>{{page.groupe}}</dd>
				<dt>Département</dt><dd>{{page.departement}}</dd>
			</dl>
			<h4>Contact</h4>
			<dl>
				<dt>Email</dt>
				{% if page.email_1 %}<dd><a href="mailto:{{page.email_1}}">{{page.email_1}}</a></dd>{%endif%}
				{% if page.email_2 %}<dd><a href="mailto:{{page.email_2}}">{{page.email_2}}</a></dd>{%endif%}

				{% if page.site %}<dt>Site</dt><dd><a href="http://{{page.site}}">http://{{page.site}}</a></dd>{%endif%}
			</dl>


		</div>

		<div class="votes sidebar-module sidebar-module-inset">
			<h3>Votes</h3>
			<h4>Motion de censure du 12 mai 2016

			{% if page['censure-1'] == "1" %}
				<span class="label label-success"><span class="glyphicon glyphicon-ok"></span><b>Voté</b></span>
				</h4>
				<p>
					{{ pref }}{{ page.nom }} censure le gouvernement et fait barrage à la loi travail.
				</p>
			{% else %}
				<span class="label label-warning"><span class="glyphicon glyphicon-remove"></span><b>Non voté</b></span>
            </h4>
            <p>
					{{ pref }}{{ page.nom }} donne sa confiance au gouvernement et ne fait pas barrage à la loi travail.
				</p>
			{% endif %}
		</div>


	</div>

    <div class="row">
        <div class="col-xs-12">
    	<div id="disqus_thread"></div>
    	<script>
			var disqus_config = function () {
                this.page.identifier = {
                {
                    page.id
                }
            }
                ;
            };

            (function () {
                var d = document, s = d.createElement('script');
                s.src = '//onsensouviendra.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
		</script>
		<noscript>Please enable JavaScript to view the
			<a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
		</noscript>
        </div>
</div>


</div>
</div>
