---
layout: default
---


{% if page.genre == "M" %}
	{% assign prefixe = "monsieur " %}
	{% assign pref = "Mr " %}
	{% assign hommeFemme = "un homme " %}
{% else %}
	{% assign prefixe = "madame " %}
	{% assign pref = "Mme " %}
	{% assign hommeFemme = "une femme " %}
{% endif %}

<div class="row">
	<div class="article col-md-8">
    	<h1 class="post-title">Lettre ouverte à {{ prefixe }}{{ page.nom }}</h1>

    	{% markdown %}
    		{%include lettre.md %}
		{% endmarkdown %}

<h1>Réponse</h1>

{{ page.nom }} n'a pas encore apporté de réponse à cette lettre ouverte.

Vous pouvez envoyer vos réponses à <a href="mailto:contact@onsensouviendra.fr">contact@onsensouviendra.fr</a>


<h1>Commentaires</h1>

	{% include disqus.html id=page.id %}
	
	<div class="col-md-4 blog-sidebar">
		
		<div class="fiche sidebar-module sidebar-module-inset">
			<h3>{{ pref }}{{ page.nom }}</h3>
			<img src="img/{{ page.id }}.jpg">
			<dl>
				<dt>Parti</dt><dd>{{ page.parti }}</dd>
				<dt>Groupe</dt><dd>{{page.groupe}}</dd>
				<dt>Département</dt><dd>{{page.departement}}</dd>
			</dl>
			<h4>Contact</h4>
			<dl>
				<dt>Email</dt>
				{% if page.email_1 %}<dd><a href="mailto:{{page.email_1}}">{{page.email_1}}</a></dd>{%endif%}
				{% if page.email_2 %}<dd><a href="mailto:{{page.email_2}}">{{page.email_2}}</a></dd>{%endif%}

				{% if page.site %}<dt>Site</dt><dd><a href="http://{{page.site}}">http://{{page.site}}</a></dd>{%endif%}
			</dl>


		</div>

		<div class="votes sidebar-module sidebar-module-inset">
			<h3>Votes</h3>
			<h4>Motion de censure du 12 mai 2016

			{% if page['censure-1'] == "1" %}
				<span class="label label-success"><span class="glyphicon glyphicon-ok"></span><b>Voté</b></span>
				</h4>
				<p>
					{{ pref }}{{ page.nom }} censure le gouvernement et fait barrage à la loi travail.
				</p>
			{% else %}
				<span class="label label-warning"><span class="glyphicon glyphicon-remove"></span><b>Non voté</b></span>
				</h4>
				<p>
					{{ pref }}{{ page.nom }} donne sa confiance au gouvernement et ne fait pas barrage à la loi travail.
				</p>	
			{% endif %}
		</div>


	</div>
</div>
